[Unit]
Description=Controls VPN connection with 2FA using Network Manager
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
User=yourLogin
Type=simple
LimitNOFILE=1000
Restart=on-failure
RestartSec=2
ExecStart=/home/yourLogin/.local/bin/roly-poly-vpn

[Install]
WantedBy=multi-user.target
