# To use this only for your user you can place this file to '~/.config/systemd/user/' directory

[Unit]
Description=Roly-Poly VPN
Documentation=https://github.com/nixargh/roly-poly-vpn
Wants=network.target
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
Type=simple
Restart=on-failure
RestartSec=2

ExecStart=/usr/bin/env roly-poly-vpn

[Install]
WantedBy=default.target
